aiohttp==3.8.5
aiosignal==1.3.1
arrow==1.2.3
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
dataclasses==0.6
Django==4.2.4
fonttools==4.42.0
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.32
gql==3.4.1
graphql-core==3.2.3
halo==0.0.31
idna==3.4
image==1.5.13
iniconfig==2.0.0
kiwisolver==1.4.4
log-symbols==0.0.14
markdown-it-py==3.0.0
matplotlib==3.6.3
mdurl==0.1.2
multidict==6.0.4
node==1.2
numpy==1.24.1
odict==1.9.0
packaging==23.1
pandas==1.4.4
Pillow==9.4.0
pluggy==1.2.0
plumber==1.7
pygame==2.5.0
Pygments==2.16.1
PyOpenGL==3.1.6
pyparsing==3.1.1
pytest==7.4.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.5.2
rlglue==2.2
scipy==1.10.0
shellingham==1.5.0.post1
six==1.16.0
smmap==5.0.0
spinners==0.0.24
sqlparse==0.4.4
svm==0.1.0
tabulate==0.9.0
termcolor==2.3.0
transform==1.2.0
transform-tools==1.0.5
update-checker==0.18.0
urllib3==2.0.4
validators==0.21.2
xmltodict==0.13.0
xxhash==3.3.0
yarl==1.9.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==5.4
zope.interface==6.0
zope.lifecycleevent==5.0
zope.proxy==5.0.0
